body {
  background-color: #1d3557;
}

/* Reset header position */
header {
  position: static;
}

/* -----------------------
        DESTINATION CARDS SECTION
----------------------- */
main li img {
  width: 300px;
  height: 280px;
}
