*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
}

/* -----------------------
        HEADER SECTION
----------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: #f45e38;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
  display: flex;
  gap: 50px;
}

header a {
  color: #e76f51;
  font-size: 20px;
}

header a:hover {
  opacity: 0.5;
}

/* -----------------------
        FOOTER SECTION
----------------------- */
#footer {
  padding: 50px;
  background-color: rgb(45, 45, 45);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-social-links {
  /* padding: 50px 0; */
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer-social-links li {
  font-size: 50px;
}

.footer-social-links a {
  color: #e76f51;
}

.footer-social-links a:hover {
  color: #f4a261;
}

#footer div {
  font-size: 24px;
  color: white;
}
